/* .content{
    position: absolute;
    top: 100%;
    color:white;
} */
.nav-bar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: black;
    z-index: 1;
}
.nav-brand{
    display: flex;
    color: white;
    text-decoration: none;
    margin: 1%;
    z-index: 1;
}
.nav-brand:hover{
    color: grey;
}
.nav-img-brand{
    display: flex;
    width: 100%;
}
.nav-brand-sm{
    display: flex;
    color: white;
    text-decoration: none;
    margin: 1%;
    z-index: 1;
}
.nav-brand-sm:hover{
    color: grey;
}
.nav-img-brand-sm{
    display: flex;
    width: 50%;
    height: 50%;
}
.nav-img-brand-xs{
    display: flex;
    width: 100%;
    height: 40%;
}
.nav-container{
    display: flex;
    left: 0;
    position: fixed;
    width: 100%;
}
.nav-item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav-link{
    padding: 5%;
    color: white;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}
.nav-link:hover{
    color: grey;
}
.font-brand{
    display: flex;
    font-size: large;
    font-weight: bolder;
    padding-left: 3%;
    justify-content: center;
    align-items: center;
}
.font-brand-sm{
    display: flex;
    font-size: large;
    font-weight: bolder;
    padding-left: 3%;
    justify-content: top;
    align-items: top;
}
.account{
    display: flex;
    position: fixed;
    width: 10%;
    margin-right: 2%;
    right: 0;
}
.btn-account{
    color: white;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}.btn-account:hover{
    color: gray;
}
.player-container{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #1C1C1C;
    border-top: 1px solid #1C1C1C;
}
.player-col{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: top;
    margin-top: 1%;
    color: white;
}
.player-colleft{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: top;
    margin-top: 1%;
    margin-left: 3%;
    color: white;
}
.player-colright{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: top;
    margin-top: 1%;
    margin-right: 3%;
    color: white;
}
.player-control{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.player-row{
    display: flex;
    width: 100%;
}
.player-v{
    display: flex;
}
.pad{
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: grey;
}
.pad:hover{
    color:white;
}
.pad-v{
    color: grey;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    cursor: pointer;
}
.pad-v:hover{
    color: white;
}
.p-active{
    color: white;
}
.p-size{
    font-size: x-large;
}
.player-slide{
    margin-top: 3%;
    width: 100%;
}
.time{
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
}
.volume{
    cursor: pointer;
}
.music-name{
    display: flex;
    margin: 2%;
    width: 90%;
}
.img-player-music{
    width: 10%;
    height: 70%;
}
.img-player-music-sm{
    width: 30%;
    height: 70%;
}
.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    width: 100%;
}
.head-content{
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 14%;
}
.row-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3%;
}
.col-content{
    display: flex;
    width: 10%;
}
.col-contentcenter{
    display: flex;
    width: 80%;
    justify-content: center;
}
.col-contentcenter-table{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.card-content{
    display: flex;
    width: 15%;
    height: 10%;
    margin-left: auto;
    cursor: pointer;
}
.card-content-2{
    display: flex;
    width: 15%;
    height: 10%;
    margin-left: auto;
}
.card-content:hover{
    opacity: 0.8;
}
.card-img-content{
    width: 100%;
    height: 1000%;
}
.table-bg{
    text-align: center; 
    background-color: black;
    color: white;
}
.table-bg > thead > tr > th{
    width: 30%;
}
.table-link{
    cursor: pointer;
}
.table-link:hover{
    background-color: #1C1C1C;
    opacity: 0.5;
}
.img-table{
    width: 10%;
}
.video-content-hide{
    display: none;
}
.video-content-show{
    display: flex;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 10%;
    height: 70%;
}
.video-content-show-2{
    display: flex;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 10%;
    height: 90%;
}